.branding {

}

.content {
    width: 60em;
    margin: auto;
}

.info {
    text-align: center;;
}

.words {
}

.words-table {
    width: 50%;
    margin: auto;
    text-align: center;
}

.words-list {
    min-width: 33%;
}

.words-list .badge {
    vertical-align: super;
    margin: 0 1em;
}

.word {
    font-weight: bold;
    font-size: 1.4em;
}
