{% extends "layout.html" %}
{% block content %}

<!--<!DOCTYPE html>-->
<meta charset="utf-8">
<head>
  <script src="/static/js/pace.js"></script>
  <link type="text/css" href="static/css/pace-theme-atom.css" rel="stylesheet" />
</head>
<link rel="stylesheet" type="text/css" href="static/css/display_res.css">
<script>
var url = '{{ url }}';
</script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="static/js/results.js"></script>
<div id="page">
    <p>Hover on a circle to see the most common words, and associated sentences!</p>
  <div id="graph">
        <svg width="500" height="500"></svg>
  </div>
  <div id="data">
        <div id="table"></div>
  </div>
</div>
{% endblock %}
