{% extends "layout.html" %}

{% block content %}
<div class="row">
<h3 class="text-center">Summarize Reviews</h3>
    <p>Copy the URL of a <a href="https://www.yelp.com/" target="_blank">Yelp</a> Page (ex:https://www.yelp.com/biz/pokeatery-san-mateo) to view a summary of all reviews.
    <br>Allow up to 45 seconds of loading for data gathering and analysis.</p>
</div>

<form action="summary" method="post">
    <div class="row">
        <input type="text" id="reviewUrl" name="reviewUrl" placeholder="Yelp Url">
    </div>
    <div class="row">
        <button id="summarize" type="submit" class="expanded button">Summarize</button>
    </div>
</form>
{% endblock %}
